.listComponentContainer {
    display: flex;
    justify-content: space-between;

    background-color: var(--gray-500);
    border: 2px solid var(--gray-400);
    padding: 1.25rem;

    border-radius: 10px;
}

.listComponentContainer:hover {
    background-color: var(--gray-400);
    border: 2px solid var(--gray-300);

    transition: all ease-in-out 0.2s;    
}

.radioWithTask {
    display: flex;
    width: 80%;
    gap: 1rem;
}

.listComponentContainer button {
    background-color: transparent;
    border: none;

    color: var(--gray-300); 
}

.listComponentContainer button:hover {
    color: var(--danger);
    transition: all ease-in-out 0.2s;  
}

/* .formControl {
    color: var(--gray-200);
    font-size: 1rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin-top: 0.4rem;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--gray-400);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--blue);
    border-radius: 50%;
    transform: translateY(-0.075em);
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--blue-dark);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
} */

.container {
    display: flex;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .containerName {
    margin-top: 0.1875rem;
    width: 100%;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 25px;

    border: 2px solid var(--blue);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: transparent;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media (max-width: 768px) {
    .containerName {
      font-size: 1rem;
      overflow: auto;
      width: 9rem;
    }
}